<div class="container ">
  <div class="row">
    <div class="col-12 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        @for (server of servers; track server.name) {
          <li class="list-group-item" [ngClass]="getStatusClasses(server)">
            <strong>{{ server.name }}</strong> | {{ server.instanceType | uppercase }} | {{ server.amount | number }}
            | {{ server.started | date:'fullDate' | uppercase }}
            <span class="badge text-bg-secondary">{{ server.status }}</span>
          </li>
        }
      </ul>
      <span>
        {{ 2 | exponentialStrength: 10 }}
      </span>
    </div>
  </div>
  <br><br>
  <div class="row">
    <h3>Heroes who fly (piped)</h3>
    <div id="flyers">
      @for (hero of (heroes | flyingHeroes); track hero) {
        <div>{{ hero.name }}</div>
      }
    </div>
  </div>
</div>
