/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cairo', sans-serif;
  line-height: 1.6;
}


.ng-valid[required]:not( input[type="radio"]), .ng-valid.required:not( input[type="radio"]) {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form, [ngModelGroup="userData"], input[type="radio"]) {
  border-left: 5px solid #a94442; /* red */
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

select {
  width: 100%;
  padding: .5rem;
}
