/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cairo', sans-serif;
  line-height: 1.6;
}


.ng-valid[required]:not( input[type="radio"]), .ng-valid.required:not( input[type="radio"]) {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form, [ngModelGroup="userData"], input[type="radio"]) {
  border-left: 5px solid #a94442; /* red */
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

select {
  width: 100%;
  padding: .5rem;
}


.course-card img {
  border-radius: 4px;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  background: #1a7ce7;
  color: white;
  border-radius: 4px;
}


.course-category {
  margin-top: 15px;
}

.category {
  margin-top: 15px;
  background: lightcyan;
  font-size: 14px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px 3px;
  display: inline;
}

.demo {
  max-width: 300px;
  margin: 20px auto;
  font-size: 25px;
}

.warn {
  color: red;
}

.highlighted {
  box-shadow: 0 2px 16px 0 #de1e19, 0 3px 8px 0 rgba(226, 21, 19, 0.47), 0 6px 8px -1px #b41c18;
}







